params {

    fasta = "/scratch/Brickman/references/mus_musculus/ensembl/GRCm38_102/Mus_musculus.GRCm38.dna_sm.primary_assembly.fa"
    gtf = "/scratch/Brickman/references/mus_musculus/ensembl/GRCm38_102/Mus_musculus.GRCm38.102.gtf"    
    star_index = "/scratch/Brickman/references/mus_musculus/ensembl/GRCm38_102/star_2.7.10a"
    
    aligner = "star"
    protocol = "10XV2"
    barcode_whitelist = "/projects/dan1/data/Brickman/projects/proks-salehin-et-al-2023/pipeline/737K-august-2016.txt.gz"

}

process {
    withName: STAR_ALIGN {
        ext.args = "--readFilesCommand zcat"
    }
}
