params {

    fasta = "/scratch/Brickman/references/mus_musculus/ensembl/GRCm38_102/Mus_musculus.GRCm38.dna_sm.primary_assembly.fa"
    gtf = "/scratch/Brickman/references/mus_musculus/ensembl/GRCm38_102/Mus_musculus.GRCm38.102.gtf"    
    star_index = "/scratch/Brickman/references/mus_musculus/ensembl/GRCm38_102/star_2.7.10a"
    
    aligner = "star"
    protocol = "smartseq"

}

process {
    withName: STAR_ALIGN {
        ext.args = "--readFilesCommand zcat --soloUMIdedup NoDedup --soloStrand Unstranded"
    }
}
