params {

    fasta = "/scratch/Brickman/references/homo_sapiens/ensembl/GRCh38_110/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
    gtf = "/scratch/Brickman/references/homo_sapiens/ensembl/GRCh38_110/Homo_sapiens.GRCh38.110.gtf"    
    star_index = "/scratch/Brickman/references/homo_sapiens/ensembl/GRCh38_110/star_2.7.10a"
    
    aligner = "star"
    protocol = "smartseq"

}

process {
    withName: STAR_ALIGN {
        ext.args = "--readFilesCommand zcat --soloUMIdedup NoDedup --soloStrand Unstranded"
    }
}
